* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

#wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 9px 0 15px;
}

.search-form {
  max-width: 620px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  margin-left: 76px;
  display: flex;
  flex-grow: 1;
  position: relative;
}

.search-input {
  border: none;
  background-color: transparent;
  padding: 13px 70px 13px 20px;
  width: 100%;
  line-height: 23px;
  color: #57565b;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-auth {
  margin-left: auto;
}

.header-login {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 16px 30px 17px;
  margin-right: 31px;
  background: #ebebeb;
  border-radius: 50px;
}

.header-shopping {
  background: #f66a15;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
}

.header-shopping__counter {
  display: block;
  background: #ffaf19;
  padding: 5px;
  border-radius: 50%;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  position: absolute;
  right: -3px;
  bottom: -5px;
}

/* Slide */
.slide {
  border-radius: 20px;
  padding: 77px 100px;
  min-height: 400px;
}

.slide-text-light {
  background-color: gray;
  color: #fff;
}

.slide-summer {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.43) 40.45%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../img/summer.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 51px;
  margin-bottom: 15px;
}

.slider-text {
  font-weight: 700;
  max-width: 389px;
  margin-bottom: 32px;
}

.button {
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: inline-block;
  padding: 12px 53px;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid transparent;
}

.button-primary {
  background: #f47322;
  color: #ffffff;
}

.button-default {
  background-color: #ffffff;
  color: #5f5f61;
  border-radius: 50px;
}

.button-default:hover {
  border: 2px solid #5f5f61;
}

/*Promo */
.promo {
  padding: 50px 0;
}

.cards-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  /* margin: -20px; */
}

.card {
  flex: 1 1 50%;
  border-radius: 20px;
  overflow: hidden;
  max-width: 570px;
  min-height: 380px;
  position: relative;
  padding: 36px 32px 31px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: 20px; */
}

.card:not(:last-child) {
  margin-right: 54px;
}

.card-text-light {
  color: #fff;
}

.card-header__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 21px;
}

.card-header__text {
  font-weight: 500;
  max-width: 170px;
}

.card-footer__price {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 8px;
}

.card-footer__delivery {
  font-weight: 500;
  margin-bottom: 25px;
  display: block;
}

.sweet-basket {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/sweet-basket.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.minimum-effort {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/minimum-effort.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Delivery */
.delivery {
  padding: 50px 0 100px;
}

.delivery-titile {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
  margin: 0 0 47px;
}

.delivery-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.delivery-card {
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  margin: 15px;
}

.delivery-img {
  width: 100%;
  height: 100%;
  object-fit: caver;
}

.delivery-tag {
  position: absolute;
  top: 16px;
  left: 10px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  padding: 5px 10px;
}

.tag-healf {
  background-color: #d0fd89;
}

.tag-vegetables {
  background-color: #aebc41;
}

.tag-meat {
  background-color: #b86b78;
}

.tag-bird {
  background-color: #d68334;
}

.tag-fish {
  background-color: #cd6255;
}

.tag-baby {
  background-color: #fffdbf;
}

.tag-parents {
  background-color: #f6fdc8;
}

.tag-holiday {
  background-color: #fef7fe;
}

/* Categories */
.categories {
  background-color: #f6f6f6;
  padding: 40px 0 60px;
}

.categories-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 50px;
}

.categories-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 62px;
}

.categories-link {
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  text-decoration: none;
  margin-right: 58px;
}

.categories-link.active {
  color: #f37321;
}

.categories-content {
  display: flex;
}

.categories-card {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  height: auto;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 62px;
}

.categories-card:not(:last-child) {
  margin-right: 37px;
}

.categories-card__img {
  width: 100%;
  height: 100%;
  object-fit: caver;
  margin-bottom: 21px;
}

.categories-card__content {
  padding: 0 23px;
}

.categories-card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin: 0 0 13px;
}

.categories-card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
  margin: 0 0 36px;
}

.categories-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
}

.categories-card__price {
  display: block;
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
  margin-bottom: 5px;
}

.categories-card__weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}

.outline-btn {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #f37321;
  border-radius: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
  padding: 16px 25px;
}

.button-center {
  display: block;
  margin: auto;
  padding: 16px 104px;
}

/* Advantages*/
.advantages {
  padding: 100px 0 202px;
}

.advantages-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 52px;
}

.advantages-cards {
  display: flex;
}

.advantages-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  overflow: hidden;
  padding: 30px 23px 25px 24px;
  text-align: center;
}

.advantages-card:not(:last-child) {
  margin-right: 37px;
}

.advantages-card__img {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
  margin-bottom: 34px;
}

.advantages-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  max-width: 188px;
  margin: auto;
  margin-bottom: 13px;
}

.advantages-card__text {
  flex: 1 1 auto;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494f;
}

/* Footer */
.footer {
  background-color: #f6f6f6;
  padding: 40px 0;
}

.footer-wrapper {
  display: flex;
  align-items: center;
}

.footer-nav__list {
  list-style: none;
  display: flex;
}

.footer-nav__link {
  font-size: 16px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #000000;
  margin: 0 50px;
}

.footer-social {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer-social__link {
  margin-left: 20px;
  text-decoration: none;
}
